


.contenedor{
    width: 1300px;
    height: 300px;
    border: rgb(241, 245, 247) 1px solid;
    margin: 50px auto;
    padding: 20px;
    background: none;
    overflow: auto;
    font-family: 'Open Sans';
    border-radius: 4px;

}

.contenedor::-webkit-scrollbar{
    width: 7px;
    height: 7px;
   

}

.contenedor::-webkit-scrollbar-thumb{
    background: rgb(134, 172, 202);
    border-radius: 5px;
}
body{
    background:   rgb(228, 230, 233);
}

table{
    border: rgb(134, 172, 202)

}



